<header>
    <nav class="header-nav">
        <a class="header-home" href="/"><img src="/icons/home.png"></a>
        <ul>
            <li><a href="/notes">Notes</a></li>
            <li><a href="/notes/new">Add Note</a></li>
            <li><a href="/archive">Archive</a></li>
        </ul>
    </nav>
</header>