<div class="note-form">
    <div class="form-item">
        <label>Title</label>
        <input type="text" name="title" value="<%= note.title %>">
    </div>
    <div class="form-item">
        <label>Content</label>
        <textarea name="content"><%= note.content %></textarea>
    </div>
</div>