<h2>Edit note</h2>
<form action="/notes/<%= note.id %>?_method=PUT", method="POST">
    <%- include('_formFields') %> 
    <a href="/notes/<%= note.id %>">Cancel</a>
    <button type="submit">Update</button>
</form> 