<h2>New note</h2>
<form action="/notes", method="POST">
    <%- include('_formFields') %> 
    <div class="btn-row">
        <a class="btn" href="/notes">Cancel</a>
        <button class="btn" type="submit">Create</button>
    </div>
</form>