.btn {
    border: 1px solid black;
    border-radius: .5rem;
    padding: .5rem 1rem;
    font-size: 1.2rem;
    font-family: 'Gotham Rounded';
    text-decoration: none;
    text-align: center;
    color:black;
    background-color: cornflowerblue;
    cursor: pointer;
    font-size: .7rem;
    font-weight: bold;
}

.btn:hover {
    background-color: rgb(157, 189, 248);
    color:rgb(70, 69, 69)
}

.btn-row {
    display: flex;
    align-items: flex-start;
}

.btn-row > * {
    margin-left: 1rem;
}